<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTube</title>
    <link rel="stylesheet" href="/template/style.css" />
    <link rel="icon" type="image/png" href="/images/icon.jpg" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="nav">
        <i class="fa-sharp fa-solid fa-bars"></i>
        <img src="/images/youtube_logo.png" />
        <div class="search">
          <input type="text" placeholder="Search" />
          <i class="fa-sharp fa-solid fa-magnifying-glass searching"></i>
          <i class="fa-solid fa-microphone mic"></i>
          <div class="acc">
            <button class="btn">
              <span class="sign">+</span><span><b>Create</b></span>
            </button>
            <i class="fa-solid fa-bell"></i>
            <img src="/images/boat.jpg" />
          </div>
        </div>
      </div>
    </header>
    <main id="container">
      <div class="item item1">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/Tqg82r2NXg8?si=_42OyJvDoB3vr6-I&amp;start=10"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <div class="texts">
          A Realm of Dreams Unforgotten || Ori...<br />
          @Reinaeiry<br />
          447K Views. 2 years ago
        </div>
      </div>
      <div class="item item2">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/kglEsR7bqAY?si=d1izQyTc3sppO5tJ&amp;start=10"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <div class="texts">
          A Realm of Dreams Unforgotten || Ori...<br />
          @Reinaeiry<br />
          447K Views. 2 years ago
        </div>
      </div>
      <div class="item item3">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/6Wsx7ayGXGk?si=YMqKF0Y0PAnounLW&amp;start=10"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <div class="texts">
          A Realm of Dreams Unforgotten || Ori...<br />
          @Reinaeiry<br />
          447K Views. 2 years ago
        </div>
      </div>
      <!-- <div class="item item4">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/44M1vTUWGtk?si=qxFbtNUq_qmML9kz&amp;start=10"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="item">5</div> -->
      <div class="item item1">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/JnWNHX8DrAo?si=az_-C-7cWVLxC_gQ&amp;start=10"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <div class="texts">
          A Realm of Dreams Unforgotten || Ori...<br />
          @Reinaeiry<br />
          447K Views. 2 years ago
        </div>
      </div>
      <div class="item item1">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/JnWNHX8DrAo?si=az_-C-7cWVLxC_gQ&amp;start=10"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <div class="texts">
          A Realm of Dreams Unforgotten || Ori...<br />
          @Reinaeiry<br />
          447K Views. 2 years ago
        </div>
      </div>
      <div class="item item1">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/JnWNHX8DrAo?si=az_-C-7cWVLxC_gQ&amp;start=10"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <div class="texts">
          A Realm of Dreams Unforgotten || Ori...<br />
          @Reinaeiry<br />
          447K Views. 2 years ago
        </div>
      </div>
      <div class="item item2">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/v7ixhH0p6sI?si=V_4DV-nX5eEIECX8&amp;start=10"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <div class="texts">
          A Realm of Dreams Unforgotten || Ori...<br />
          @Reinaeiry<br />
          447K Views. 2 years ago
        </div>
      </div>
      <div class="item item3">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/j3661mhHfvY?si=cl7is5zXAepqkryv&amp;start=10"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <div class="texts">
          A Realm of Dreams Unforgotten || Ori...<br />
          @Reinaeiry<br />
          447K Views. 2 years ago
        </div>
      </div>
    </main>
  </body>
</html>
