<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/positionstyle.css" />
  </head>
  <body>
    <!-- <div>Side box</div>
    <div>Side box</div> -->
    <div class="relative">
      Relative
      <div class="absolute">Absolute</div>
      <div class="fixed">Fixed</div>
    </div>
    <!-- <div>Side box</div>
    <div>Side box</div> -->
  </body>
</html>
