* {
  margin: 0;
  padding: 0;
  box-sizing: box;
}
.main {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.item {
  height: 200px;
  width: 200px;
  border: 2px solid black;
}
@media (max-width: 900px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .main {
    background-color: blue;
  }
}
@media (max-width: 500px) {
  .main {
    background-color: red;
  }
}
