* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 50px 1fr 250px;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "sidebar header header"
    "sidebar content aside"
    "footer footer footer";
  gap: 20px;
  /* border: 2px solid red; */
  height: auto;
  width: 100vw;
  color: white;
  background-color: black;
  font-size: 26px;
}
.header {
  grid-area: header;
  height: 90px;
}
.footer {
  grid-area: footer;
  height: 50px;
  width: 100vw;
}
.aside {
  grid-area: aside;
  height: 90vh;
}
.maincontent {
  grid-area: content;
  height: 80vh;
}
.items {
  border: 2px solid red;
}
.sidebar {
  grid-area: sidebar;
  height: 100vh;
}
